# config file
config.json

# compiled binary
fishy

# non-public json files
json/fish.json
json/items.json
json/userfish.json
json/useritems.json
json/userlocationdensity.json
json/levels.json
json/secretstrings.json

# vscode
.vscode
\.DS_Store

dump\.rdb

json/trash\.json
